@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
/*83*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope';
    color: white;
    background-image: linear-gradient(to left bottom ,#fafa6e, #c4ec74, #92dc7e, #64c987, #39b48e, #089f8f, #00898a, #08737f, #215d6e, #2a4858);
}

/* ORIGINAL COLOR:  #8929AD, #436AAC, #43B7B8*/
header {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #00898a;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    padding: 0 2vw;
    font-size: 1.5vw;
}

/* DO NOT REMOVE THIS CODE
header {
    width: 100%;
    height: 60vw;
    background-image: linear-gradient(to left top, #fafa6e, #c4ec74, #92dc7e, #64c987, #39b48e, #089f8f, #00898a, #08737f, #215d6e, #2a4858);
}
*/

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Manrope';
}

nav ul li:last-child {
    margin-right: 2vw;
}

/* BODY */
#about {
    margin: 5vw 25px 20vw 25px;
}

#container {
    margin: 5vw 2vw 0 2vw;
    display: grid;
    gap: 25px;
    grid-template-areas:
    "section1 img"
    "section2 img";
}

.section1 {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    font-size: 3vw;
}

.section2 {
    justify-content: center;
    display: flex;
    grid-row: 2/3;
    font-size: 1.5vw;
}

#container img {
    max-width: 100%;
    height: 100%;
    grid-row: -3/-1;
    box-shadow: 10px 9px 20px 1px black;
}

/* MAIN BODY */
#sample {
    margin: 5vw 25px 10vw 25px;
}

#container_2  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vw 0 15vw 0;
}

#container_2 img {
    max-width: 40%;
    height: 40%;
    border: 1px solid gray; 
}

#info {
    margin: 0.5vw 0 0 5vw;
    text-align: justify;
    font-size: 1.5vw;
    max-width: 50vw;
}

#container_3  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15vw 0;
}

#info_2 {
    margin: 0.5vw 5vw 0 0;
    text-align: justify;
    font-size: 1.5vw;
    max-width: 50vw;
}

#container_3 img {
    max-width: 30%;
    height: 20%;
    border: 1px solid gray; 
}

#container_4  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10vw 0;
}

#container_4 img {
    max-width: 30%;
    height: 30%;
    border: 1px solid gray; 
}

#info_3 {
    margin: 0.5vw 0 0 5vw;
    text-align: justify;
    font-size: 1.5vw;
    max-width: 50vw;
}

.sample {
    font-size: 2vw;
    margin-bottom: 8vh;
}

#designs {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1vw;
}

#compiler img {
    width: 23vw;
    height: 40vw;
}

#compiler img:hover {
    position: relative;
    top: -10px;
}

/* FOOTER */
#contacts {
    background-color: #215d6e;
    height: 8vw;
    display: flex;
    justify-content: right;
    align-items: center;
}

#footer h1 {
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    margin-bottom: .5vw;
}

#foot {
    margin-right: 1vw;
}

#footer a {
    text-decoration: none;
}

#footer a img {
    max-width: 4vw;
    height: 4vw;
    padding: 0 1.5vw 0 1.5vw;
}

#footer img:hover {
    transform: scale(1.1);
}

/* SCROLL DOWN TRANSITION */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width: 768px) {
    /* WEBSITE SAMPLES */
    #designs {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 5.5vw;
    }

    #compiler img {
        width: 27vw;
        height: 40vw;
    }
}

@media (max-width: 426px) {
    /* NAVBAR */
    li a {
        font-size: 3vw;
    }

    /* BODY */
    #container {
        gap: 20px;
        justify-items: center;
        grid-template-areas:
        "section1"
        "section2"
        "img";
    }

    .section1 {
        font-size: 6vw;
        height: 20vw;
    }
    
    .section2 {
        font-size: 3vw;
        height: 21vw;
    }
    
    #container img {
        grid-row: 3/4;
        width: 95%;
        height: 95%;
    }

    /* MAIN BODY */
    #about {
        margin: 10vw 20px 20vw 20px;
    }

    #container_2  {
        margin: 30vw 0 25vw 0;
    }

    #container_2 img {
        max-width: 50%;
        height: 50%;
    }

    #info {
        margin: 0.5vw 0 0 5vw;
        font-size: 2vw;
    }

    #container_3  {
        margin: 25vw 0 25vw 0;
    }

    #container_3 img {
        max-width: 40%;
        height: 50%;
    }

    #info_2 {
        margin: 0.5vw 5vw 0 0;
        font-size: 2vw;
    }

    #container_4  {
        margin: 30vw 0 25vw 0;
    }

    #container_4 img {
        max-width: 35%;
        height: 35%;
    }

    #info_3 {
        margin: 0.5vw 0 0 5vw;
        font-size: 2vw;
    }

    /* SAMPLE WEBSITES */
    .sample {
        font-size: 4vw;
        margin-bottom: 5vh;
    }

    #compiler img {
        width: 40vw;
        height: 60vw;
    }

    /* FOOTER */
    #contacts {
        height: 15vw;
    }

    #footer h1 {
        font-size: 3.5vw;
    }

    #foot {
        margin-right: 3vw;
    }

    #footer a img {
        max-width: 8vw;
        height: 8vw;
        padding: 0 2vw 0 2.5vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
