
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

#navbar {
    width: 100%;
    height: 7vw;
    position: fixed;
    background-color: beige;
    z-index: 2;
}

ul {
    text-align: right;
}

ul li {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    margin: 2.5vw 3vw 0 0;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
}

a:active {
    color: yellow;
}

#logo {
    position: fixed;
    top: -0.5vw;
}

#logo img {
    max-width: 18vw;
    height: 8vw;
}

#contents {
    width: 100%;
    height: 150vw;
    background-color: #1a1a1a;
}

#contents h1 {
    font-size: 6vw;
    color: white;
    position: absolute;
    top: 10vw;
    left: 30vw;
}

#contents h3 {
    font-size: 1.5vw;
    color: white;
    position: absolute;
    top: 17vw;
    left: 23.4vw;
    text-align: center;
}

#compiler {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 25vw;
}

#product {
    width: 40vw;
    height: 30vw;
    padding: 5px;
    text-align: center;
    color: white;
    margin: 8vw 0 0 0;
}

#product img {
    width: 100%;
    height: 90%;
}

#product h2 {
    font-size: 1.8vw;
}

#product p {
    font-size: 1.4vw;
}

#myForm{
    color: black;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 15vw;
    font-size: 1.5vw;
}
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

footer {
    width: 100%;
    height: 10vw;
    background-color: lightslategray;
}

#footer {
    width: 100%;
    display: block;
    text-align: center;
    padding: 1vw 0 0 0;
    margin: 0vw 0vw 0vw 0vw;
}

#footer img {
    width: 6vw;
    height: 6vw; 
}

#footer p {
    color: #1a1a1a;
    font-weight: bold;
    font-size: 1.2vw;
    padding-top: 0.5vw;
}


@media (max-width:1024px) {
    #contents {
        height: 170vw;
    }
    
    #product {
        margin: 10vw 0 0 0;
    }
}

@media (max-width: 786px) {
    #contents {
        height: 180vw;
    }
    .open-button {
        font-size: 1.9vw;
    }

    #product {
        margin: 15vw 0 0 0;
    }
}

@media (max-width:425px) {
    #contents {
        height: 200vw;
    }
    
    #footer {
        height: 10vw;
    }
    
    #navbar {
        height: 10vw;
    }

    ul li {
        margin: 3vw 3vw 0 0;
    }
    #logo {
        top: 0.1vw;
    }
    
    #logo img {
        max-width: 25vw;
        height: 10vw;
    }

    li a {
        font-size: 2.5vw;
    }

    #contents h1 {
        top: 15vw;
    }

    #contents h3 {
        font-size: 2vw;
        top: 23vw;
        left: 14vw;
    }

    #product h2 {
        font-size: 3vw
    }

    #product p {
        font-size: 2.5vw;
    }

    .open-button {
        width: auto;
        height: auto;
    }

    footer {
        height: 11vw;
    }

    #footer p {
        font-size: 2vw;
        padding: 0;
    }

    #product {
        margin: 20vw 0 0 0;
    }
}