/* FEATURED */
.title {
    text-align: center;
    margin-top: 5vw;
    padding-top: 2vw;
    font-size: 2vw;
    font-weight: bold;
}

.fifty{
    color: var(--yellow);
}

#grid-container {
    display: grid;
    gap: 2vw;
    margin: 3vw 0 0 0;
    padding: 0 5vw 10vw 5vw;
    grid-template-columns: repeat(auto-fit, auto);
    grid-template-areas: 
        "item2 item3 item4"
        "item2 item5 item5";
}

.grid-item {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.item2 {
    background-image: url(https://drive.google.com/uc?id=1AAmoPziSntBSZSmIhDt5t8ew8hYkJlp4);
    background-size: cover;
    background-position: center;
    grid-row: 1 / 3;
    position: relative;
    opacity: 1;
}

.item3 {
    background-image: url(https://drive.google.com/uc?id=1ulvBpQw6oIRqXZxXV0Mn-1ZsYK-WKVfz);
    background-size: cover;
    background-position: center;
    grid-area: item3;
    height: 23vw;
    position: relative;
}

.item4 {
    background-image: url(https://drive.google.com/uc?id=1Z0VuO84e0Yk5Doc1ghquSlhOGsFAuV8F);
    background-size: cover;
    background-position: center;
    grid-area: item4;
    height: 23vw;
    position: relative;
}

.item5 {
    background-image: url(https://drive.google.com/uc?id=1Ari6viFOwGQbWx0JF4gdtfRGyxLT_C8e);
    background-size: cover;
    background-position: center;
    grid-column: -1 / -3;
    grid-area: item5;
    height: 25vw;
    position: relative;
}

.item2 h1,
.item3 h1,
.item4 h1,
.item5 h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.4);
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    opacity: 0;
    transition: .25s;
}

.item2 h1:hover,
.item3 h1:hover,
.item4 h1:hover,
.item5 h1:hover {
    opacity: 1;
}

/* YOU MAY LIKE */
#eyecatching {
    background-color: var(--yellow);
}

.title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-top: 2vw;
    font-size: 2vw;
}

.title2 img {
    width: 5vw;
}

#youmaylike {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 50px 30px 50px 30px;
    gap: 5vw;
}

.box {
    width: 15vw;
    height: 13vw;
    margin-right: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative;
}

.box img {
    width: 15vw;
    height: 13vw;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
}

.box > p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .25s;
    font-size: 1.7vw;
}

.box > p:hover,
.box:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* BANNER */
#banner {
    margin-top: 10vw;
    background-image: url(https://drive.google.com/uc?id=1Aq5LrXF9AMDoQs86FyQqgB0MkrajaMH5);
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
    text-align: center;
    color: white;
}

.content h2 {
    font-size: 3.5vw;
    width: 60%;
}

.content p {
    font-size: 1.8vw;
    width: 50%;
}

.content button {
    width: 15vw;
    height: 3vw;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: var(--yellow);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.content button:hover {
    top: -14px;
    transform: scale(1.1);
}

@media (max-width: 769px) {
    /* FEATURED PRODUCTS */
    .title {
        font-size: 2.7vw;
        font-weight: bold;
    }

    #grid-container {
        padding: 0 5vw 10vw 5vw;
    }

    /* YOU MAY LIKE */
    .title2 {
        font-size: 2.7vw;
    }

    .title2 img {
        width: 5.8vw;
    }

    .box {
        width: 25vw;
        height: 23vw;
    }

    .box img {
        width: 25vw;
        height: 23vw;
        padding: 5px;
    }

    .box > p {
        font-size: 2vw;
    }

    #banner {
        margin-top: 15vw;
    }

    .content {
        gap: 8vw;
    }

    .content h2 {
        font-size: 5vw;
        width: 95%;
    }

    .content p {
        font-size: 2.5vw;
        width: 70%;
    }

    .content button {
        width: 20vw;
        height: 5vw;
        font-size: 2vw;
    }

    /* LATEST PRODUCTS */
    .lproducts {
        font-size: 4vw;
    }

    .latest {
        width: 25vw;
        margin: 2vw 2vw 2vw 2vw;
    }

    .latest img {
        height: 20vw;
    }

    .latest p {
        font-size: 2.8vw;
    }
}

@media (max-width: 426px) {
    /* FEATURED PRODUCTS */
    .title {
        font-size: 3.5vw;
        margin-bottom: 5vw;
    }

    .title h1, p {
        margin-bottom: 2.2vw;
    }

    #grid-container {
        padding: 0 5vw 15vw 5vw;
    }

    /* YOU MAY LIKE */
    .title2 {
        font-size: 3.5vw;
    }

    .title2 img {
        width: 8vw;
    }

    #youmaylike {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        padding: 10vw 5vw 5vw 5vw;
        gap: 5vw;
    }

    .box {
        width: 30vw;
        height: 30vw;
    }

    .box img {
        width: 30vw;
        height: 30vw;
    }

    /* BANNER */
    #banner {
        margin-top: 20vw;
    }

    .content {
        gap: 8vw;
    }

    .content h2 {
        font-size: 6vw;
        width: 95%;
    }

    .content p {
        font-size: 3vw;
    }

    .content button {
        width: 25vw;
        height: 8vw;
        font-size: 2.8vw;
    }

    /* LATEST PRODUCTS */
    .lproducts {
        font-size: 5vw;
        margin-bottom: 5vw;
    }

    .latest {
        width: 29vw;
        margin: 1vw 1vw 1vw 1vw;
        padding: 1vw 1vw 1vw 1vw;
    }

    .latest img {
        height: 20vw;
    }

    .latest p {
        font-size: 3.5vw;
        margin-top: 30px;
    }
}